:root {
  --black: #3d3d3d;
  --white: #ffffff;
  --primary: #213f7d;
  --secondary: #39cdcc;
  --secondaryHovered: #1b8484;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: WorkSans;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
}

@font-face {
  font-family: WorkSans;
  src: url("../assets/fonts/Work_Sans/WorkSans-Regular.ttf");
  font-weight: 400;
}

@font-face {
  font-family: WorkSans;
  src: url("../assets/fonts/Work_Sans/WorkSans-SemiBold.ttf");
  font-weight: 600;
}

@font-face {
  font-family: AvenirNextLT;
  src: url("../assets/fonts/Avenir_Next/AvenirNextLTPro-Bold.otf");
  font-weight: 600;
}

@font-face {
  font-family: AvenirNextLT;
  src: url("../assets/fonts/Avenir_Next/AvenirNextLTPro-Regular.otf");
  font-weight: 400;
}

.global_container {
  max-width: 1440px;
  margin: 0 auto;
}

h1 {
  font-weight: 700;
  font-size: 40px;
  line-height: 55px;
}
h2 {
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
}
h3 {
  font-weight: 500;
  font-size: 22px;
  line-height: 26px;
}
h4 {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
}
h5 {
  font-weight: 600;
  font-size: 12px;
  line-height: 14px;
}

img {
  max-width: 100%;
}

p {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
}
span {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
}

.primary_color {
  color: var(--primary);
}

@media (min-width: 768px) {
  h1 {
    font-size: 60px;
    font-weight: 700;
    line-height: 72px;
  }
  h2 {
    font-size: 40px;
    font-weight: 700;
    line-height: 52px;
  }

  h3 {
    font-weight: 700;
    line-height: 47px;
    font-size: 39px;
  }
  h4 {
    font-weight: 700;
    font-size: 30px;
    line-height: 45px;
  }
  h5 {
    font-weight: 700;
    font-size: 24px;
    line-height: 31px;
  }
  h6 {
    font-weight: 700;
    font-size: 15px;
    line-height: 21px;
  }
  p {
    font-size: 16px;
  }
}
